.showAnimation {
  animation: show 0.5s ease-in-out;
}

.hideAnimation {
  animation: hide 0.5s ease-in-out forwards;
}

@keyframes show {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}
